.chat-main
  .chat-main__group_info
    .chat-main__group_info__left_box
      .chat-main__group_info__left_box__group_name
        test
      .chat-main__group_info__left_box__group_member
        Menber: masa
    .chat-main__group_info__edit_btn
      = link_to "Edit", "#" 
  .chat-main__message
    .chat-main__message__list
      .group_member
        masa
        .group_member__send_time
          2019/11/20(wed)17:43:01
      .member_message
        おはよう！
      .group_member
        masa
        .group_member__send_time
          2019/11/20(wed)17:43:34
      .member_message
        今日は夜から雨
 
  .chat-main__message_form
    %form.new-message
      .input-box
        %input{type: "text", class: "input-box__text",placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn",value: "Send"}
        