.saide-bar
  .saide-bar__user_name
    .top-items
      .top-items__name
        masa
      .top-items__icons
        .top-items__icons__edit
        =link_to "#", class:"edit" do
          =icon('fas', 'edit')
        .top-items__icons__cog
        =link_to "#", class:"cog" do
          =icon('fas', 'cog')
  .groups-list
    = link_to "#",class:"group" do
      .group
        .group__name
          techcamp
        .group__title
          まだメッセージがありません