.saide-bar
  .saide-bar__user_name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        .top-items__icons__edit
        =link_to new_group_path do
          =icon('fas', 'edit')
        .top-items__icons__cog
        =link_to edit_user_path(current_user) do
          =icon('fas', 'cog', class: 'icon')
  .groups-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__title
            = group.show_last_message