* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  height: 100vh;
}

.saide-bar {
  width: 300px;
  background-color: #2f3e51;
  &__user_name {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    .top-items {
      height: 20px;
      width: 260px;
      background-color: #d3c0c0;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__name {

      }
      &__icons {
        width: 60px;
        background-color: green
          // &__btn--edit {
          // margin-right: 5px;
          // }
      }
    }
  &__group_list {
  }
 }
}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #fafafa;
  &__group_info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
  }
  &__message_list {
    height: calc(100vh - 190px);

  }
  &__message_form {
    height: 90px;
    background-color: #d2d2d2;
  }
}